header {
    height: 60px;
    background-color: var(--color-primary);
    display: flex;
    align-items: center;
}

.loansim-nav-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #fff;
}

.loansim-nav-content h1 {
    font-size: 24px;
    margin: 0;
    font-weight: 700;
}

.loansim-contact-container {
    display: flex;
    align-items: center;
}

.loansim-contact-link {
    margin: 0 0 0 10px;
    font-size: 12px;
}

a, a:hover {
    text-decoration: none;
    color: unset;
}

.a-navbar, .a-navbar:hover{
    text-decoration: none;
    color: unset;
}